#social-sharing
	%ul.contact-socials.clearfix
		%li.mog-social
			%a.foo_social.ico-facebook{:href => @user.social_url("facebook"), target: "_blank"}
				%i.fa.fa-facebook-official 
		%li.mog-social
			%a.foo_social.ico-twitter{:href => @user.social_url("twitter"), target: "_blank"}
				%i.fa.fa-twitter
		%li.mog-social
			%a.foo_social.ico-gplus{:href => @user.social_url("google_plus"), target: "_blank"}
				%i.fa.fa-google-plus
		%li.mog-social
			%a.foo_social.ico-mail{:href => "mailto:?&subject=#{Setting.sharing[:email_subject]}&body=#{Setting.sharing[:email_message] + " " + @user.referral_url(root_url)}", target: "_blank"}
				%i.fa.fa-envelope