%header
%section#main{style: ""}
	.cover.mog-dis 
		%img.mog-logo{:height => "60px", :src => "http://mathongo.com/assets/images/logo.png"}/
		%h1.cover-title-blue The Most Comprehensive
		%h1.cover-title-blue The Most Affordable
		%h1.cover-title Online Test Series for JEE Main
		#form-wrapper
			%small Be the first one to grab it
			= render "form"
		%footer
			%a{:href => "mailto:info@mathongo.com?subject=Message%20from%20Refer%20Page%20|%20MathonGo%20Test%20Series"} MathonGo
			%br/
			%p.lil-pad
				Making Quality Education Accessible to All