%title MathonGo Tests | Refer your Friends and Earn
%meta{:content => "The Most Comprehensive Online Test Series for JEE Mains which is similar to JEE Mains Online", :name => "Description"}/
%meta{:content => "test, tests, test series, online, online paper, jee main, jee, jee main 2018, jee main 2019, jee main online, practice test, test paper, examination, practice tests, mock tests, mock", :name => "Keywords"}/

%link{:href => asset_path('favicon.ico'), :rel => "shortcut icon", :type => "image/x-icon"}/
%link{:href => asset_path('favicon.ico'), :rel => "apple-touch-icon", :type => "image/jpeg"}/

// Facebook
%meta{:content => "#{Setting.sharing[:facebook_title]}", :property => "og:title"}/
%meta{:content => "#{Setting.sharing[:facebook_message]}", :property => "og:description"}/

- if Setting.facebook_image.present?
	%meta{:content => root_url + Setting.facebook_image.url, :property => "og:image"}/
	%meta{:content => "570", :property => "og:image:width"}/
	%meta{:content => "300", :property => "og:image:height"}/

- if controller_name != "users"
	%meta{:content => (params[:ref] ? root_url + "users/" + params[:ref] : root_url), :property => "og:url"}/

- else
	%meta{:content => request.original_url, :property => "og:url"}/

// Google +
%meta{:content => Setting.sharing["google_plus_title"], :itemprop => "name"}/
%meta{:content => Setting.sharing["google_plus_message"], :itemprop => "description"}/
- if Setting.google_plus_image.present?
	%meta{:content => root_url + Setting.google_plus_image.url, :itemprop => "image"}/


%meta{:content => "summary_large_image", :name => "twitter:card"}/
%meta{:content => "@mog_tweets", :name => "twitter:site"}/
%meta{:content => "MathonGo Tests | Refer your Friends and Earn", :name => "twitter:title"}/
%meta{:content => Setting.sharing["twitter_message"], :name => "twitter:description"}/
%meta{:content => root_url, :name => "twitter:domain"}/
- if Setting.twitter_image.present?
	%meta{:content => root_url + Setting.twitter_image.url, :name => "twitter:image"}/

%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-107504706-1', 'auto');
	ga('send', 'pageview');